@media (min-width: 1200px) and (max-width: 1440px){
    .image-max-width-130{
        max-width: 110px !important;    
    }	
 .bg-interact-caption {
		padding: 15px 20px;
		right: 20%;
		left: 20%;
	}
    .bg-caption{
    	margin: 2px 2px 2px 2px !important;
    	padding: 10px 2px 10px 2px !important;
    	width: 59% !important;
    }
}	

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {	
    .image-max-width-130{
        max-width: 120px !important;    
    }
     .bg-interact-caption {
		padding: 15px 20px;
		right: 20%;
		left: 20%;
	}
    .bg-caption{
    	margin: 2px 2px 2px 2px !important;
    	padding: 10px 2px 10px 2px !important;
    	width: 59% !important;
    }
}
/* Portrait tablets and small desktops */
@media (min-width: 800px) and (max-width: 991px) 
{
	 .bg-interact-caption {
		padding: 15px 20px;
		right: 20%;
		left: 20%;
	}
    .bg-caption{
    	margin: 2px 2px 2px 2px !important;
    	padding: 10px 2px 10px 2px !important;
    	width: 59% !important;
    }

}

@media (min-width: 768px) and (max-width: 800px){
    .bg-interact-caption {
		padding: 15px 20px;
		right: 20%;
		left: 20%;
	}
    .bg-caption{
    	margin: 2px 2px 2px 2px !important;
    	padding: 10px 2px 10px 2px !important;
    	width: 59% !important;
    }
    .header-caption{
        display: none
    }
    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .order-md-first {
      -ms-flex-order: -1;
      order: -1;
    }
    .order-md-last {
      -ms-flex-order: 13;
      order: 13;
    }
    .order-md-0 {
      -ms-flex-order: 0;
      order: 0;
    }
    .order-md-1 {
      -ms-flex-order: 1;
      order: 1;
    }
    .order-md-2 {
      -ms-flex-order: 2;
      order: 2;
    }
    .order-md-3 {
      -ms-flex-order: 3;
      order: 3;
    }
    .order-md-4 {
      -ms-flex-order: 4;
      order: 4;
    }
    .order-md-5 {
      -ms-flex-order: 5;
      order: 5;
    }
    .order-md-6 {
      -ms-flex-order: 6;
      order: 6;
    }
    .order-md-7 {
      -ms-flex-order: 7;
      order: 7;
    }
    .order-md-8 {
      -ms-flex-order: 8;
      order: 8;
    }
    .order-md-9 {
      -ms-flex-order: 9;
      order: 9;
    }
    .order-md-10 {
      -ms-flex-order: 10;
      order: 10;
    }
    .order-md-11 {
      -ms-flex-order: 11;
      order: 11;
    }
    .order-md-12 {
      -ms-flex-order: 12;
      order: 12;
    }
    .offset-md-0 {
      margin-left: 0;
    }
    .offset-md-1 {
      margin-left: 8.333333%;
    }
    .offset-md-2 {
      margin-left: 16.666667%;
    }
    .offset-md-3 {
      margin-left: 25%;
    }
    .offset-md-4 {
      margin-left: 33.333333%;
    }
    .offset-md-5 {
      margin-left: 41.666667%;
    }
    .offset-md-6 {
      margin-left: 50%;
    }
    .offset-md-7 {
      margin-left: 58.333333%;
    }
    .offset-md-8 {
      margin-left: 66.666667%;
    }
    .offset-md-9 {
      margin-left: 75%;
    }
    .offset-md-10 {
      margin-left: 83.333333%;
    }
    .offset-md-11 {
      margin-left: 91.666667%;
    }
  }
@media  (min-width: 540px) and (max-width: 766px) {
    .image-max-width-130{
        display: none !important;    
    }
    .bg-interact-caption {
		padding: 15px 20px;
		right: 20%;
		left: 20%;
	}
    .bg-caption{
    	margin: 2px 2px 2px 2px !important;
    	padding: 10px 2px 10px 2px !important;
    	width: 59% !important;
    }
    .header-caption{
        display: none
    }
}
@media  (min-width: 481px) and (max-width: 539px) {
    .image-max-width-130{
        display: none !important;    
    }
    .bg-interact-caption {
		padding: 15px 20px;
		right: 20%;
		left: 20%;
	}
    .bg-caption{
    	margin: 2px 2px 2px 2px !important;
    	padding: 10px 2px 10px 2px !important;
    	width: 59% !important;
    }
    .header-caption{
        display: none
    }
}
@media (max-width: 767px) {
	
}
@media (max-width: 480px) {
    #carouselServices{
        display: none;
    }
    .bg-interact-caption {
		padding: 15px 20px;
		right: 20%;
		left: 20%;
	}
    .bg-caption{idth: 767px) {
	
}
@media (max-width: 480px) {
    #carouselServices{
        display: none;
    }
    .bg-interact-caption {
		padding: 15px 20px;
		right: 20%;
		left: 20%;
		}
    .bg-caption{
    	margin: 2px 2px 2px 2px !important;
    	padding: 10px 2px 10px 2px !important;
    	width: 59% !important;
    }
    .header-caption{
        display: none
    }
    .heather-margin{
      margin-top: 50px
    }
}
@media (min-width: 321px) and (max-width: 479px) {
    #carouselServices{
        display: none;
    }    
    .bg-interact-caption {
		padding: 15px 20px;
		right: 20%;
		left: 20%;
	}
    .bg-caption{
    	margin: 2px 2px 2px 2px !important;
    	padding: 10px 2px 10px 2px !important;
    	width: 59% !important;
    }
    .bg-caption-data h2 {
    	font-size: 10px !important;
        line-height: 8px !important;
    }
    .header-caption{
        display: none
    }
    .heather-margin{
      margin-top: 50px
    }
    #media-320-480{
        display: block;
        font-size: 10px !important;
        line-height: 8px !important;
    }
    .head-title{
        margin-top: 0px !important;
     }
     .image-max-width-130{
        display: none !important;    
    }
}
@media (max-width: 320px) {
    #carouselServices{
        display: none;
    }
    .bg-interact-caption {
		padding: 15px 20px;
		right: 20%;
		left: 20%;
	}
    .bg-caption{
    	margin: 2px 2px 2px 2px !important;
    	padding: 10px 2px 10px 2px !important;
    	width: 59% !important;
    }
    .bg-caption-data h2 {
    	font-size: 10px !important;
        line-height: 8px !important;
    }
    .header-caption{
        display: none
    }
    .heather-margin{
      margin-top: 50px
    }
    #media-320-480{
        d
    }
    #media-320-480{
        display: bloia-320-480{
        display: b: block20-480{
        display: bloce-max-width-130{
   .-title{
       margin-top: 0px !important;
    }
    .image-max-width-130{
     
    }
    .image-max-width-130{
        display: non{
        display: none
    }
    .heather-margin{
      margin-top: 50px
    }
    #media-320-480{
        display: block;
    }
    .head-title{
       margin-top: 0px !important;
    }
    .image-max-width-130{
        display: none !important;    
    }
};;;;
    