@font-face {
    font-family: 'arabic_webfont';
     src: url('../fonts/fonts/arabic_webfont.eot');
     src: local('arabic_webfont'), 
		 url('../fonts/arabic_webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arabic_webfont.woff2') format('woff2'),
         url('../fonts/arabic_webfont.woff') format('woff'),
         url('../fonts/arabic_webfont.ttf') format('truetype'),
         url('../fonts/arabic_webfont.svg#arabic_webfont') format('svg');
}
@font-face {
    font-family: 'arabic_univers';
     src: url('../fonts/fonts/UniversNextArabic-Regular_2.eot');
     src: local('arabic_univers'), 
		 url('../fonts/UniversNextArabic-Regular_2.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UniversNextArabic-Regular_2.woff2') format('woff2'),
         url('../fonts/UniversNextArabic-Regular_2.woff') format('woff'),
         url('../fonts/UniversNextArabic-Regular_2.ttf') format('truetype');
}
